# INPUTS.
export SICK_PLAYLIST_DB=
export SICK_TRACKS_DB=

# SECRET KEYS.
export LAMBDA_API_KEY=

# PARAMETERS.
# optional minimum number of tracks in training dataset
export SICK_ARTIST_MINTRACK=0
export SICK_ALBUM_MINTRACK=0
export SICK_LABEL_MINTRACK=0

# OUTPUTS.
# all scripts outputs are saved to the $SICK_OUTPUT_DIR unless specified otherwise.
export SICK_OUTPUT_DIR=outs/
export SICK_T0_VOCAB=$SICK_OUTPUT_DIR/vocab_t0.parquet
export SICK_T1_VOCAB=$SICK_OUTPUT_DIR/vocab_t1.parquet
export SICK_EMBEDDING_TRACK=$SICK_OUTPUT_DIR/embedding_track.parquet
export SICK_EMBEDDING_ARTIST=$SICK_OUTPUT_DIR/embedding_artist.parquet
export SICK_EMBEDDING_ALBUM=$SICK_OUTPUT_DIR/embedding_album.parquet
export SICK_EMBEDDING_LABEL=$SICK_OUTPUT_DIR/embedding_label.parquet
export SICK_LOOKUP_TRACK=$SICK_OUTPUT_DIR/lookup_track.parquet
export SICK_LOOKUP_ARTIST=$SICK_OUTPUT_DIR/lookup_artist.parquet
export SICK_LOOKUP_ALBUM=$SICK_OUTPUT_DIR/lookup_album.parquet
export SICK_LOOKUP_LABEL=$SICK_OUTPUT_DIR/lookup_label.parquet
