# INPUTS. you should _always_ provide this
export T2M_PLAYLIST_DB=
export T2M_TRACKS_DB=
export LAMBDA_API_KEY=

# OUTPUTS. these are set to output to `outs` directory by default
export T2M_OUTPUT_DIR=outs/
export T2M_EMBEDDING=$T2M_OUTPUT_DIR/
export T2M_TRAINING_VOCAB=$T2M_OUTPUT_DIR/training_vocab.parquet
export T2M_TRACK_LOOKUP=$T2M_OUTPUT_DIR/track_lookup.parquet
