export T2M_ROOT=/path/to/root

export T2M_PLAYLIST_DB=/path/to/annas_archive_spotify_2025_07/spotify_clean_playlists.sqlite3
export T2M_TRACKS_DB=/path/to/annas_archive_spotify_2025_07/spotify_clean_tracks.sqlite3

export T2M_TRACK_COUNT=$T2M_ROOT/outs/track_playlist_counts.parquet
export T2M_TRAINING_VOCAB=$T2M_ROOT/outs/training_vocab.parquet
export T2M_TRACK_LOOKUP=$T2M_ROOT/outs/track_lookup.parquet
export T2M_LOOKUP_DIR=$T2M_ROOT/outs/

export T2M_MODEL_DIR=$T2M_ROOT/outs/models/
export T2M_EMBEDDING_DIR=$T2M_ROOT/outs/
export T2M_UMAP_DIR=$T2M_ROOT/outs/umap/
export T2M_GEO_DIR=$T2M_ROOT/outs/geo/
