# INPUT.
export SICK_MANIFEST=

# OUTPUT.
export SICK_OUT_DIR=outs/
export SICK_DB=$SICK_OUT_DIR/sick.db
export SICK_GEO_DIR=$SICK_OUT_DIR/geo/
export SICK_INDEX_FILTER_DIR=$SICK_OUT_DIR/index/filter/
export SICK_INDEX_FAISS_TRACK=$SICK_OUT_DIR/faiss/faiss_track.index
export SICK_INDEX_FAISS_ALBUM=$SICK_OUT_DIR/faiss/faiss_album.index
export SICK_INDEX_FAISS_ARTIST=$SICK_OUT_DIR/faiss/faiss_artist.index
export SICK_INDEX_FAISS_LABEL=$SICK_OUT_DIR/faiss/faiss_label.index

# PARAMETERS.
export SICK_GEO_WIDTH=45
export SICK_GEO_PADDING=1
# hint: label-artist counts shows elbow around 7
export SICK_INDEX_FILTER_DB_LABEL_MIN_NARTIST=7
# hint: artist-track elbow ~ 10
export SICK_INDEX_FILTER_DB_ARTIST_MIN_NTRACK=10
# hint a lot of album have only 1 track
export SICK_INDEX_FILTER_DB_ALBUM_MIN_TOTAL_TRACKS=2
export SICK_INDEX_FILTER_DB_TRACK_MIN_LOGCOUNT=1
export SICK_INDEX_FILTER_SIM_TRACK_MIN_LOGCOUNT=1.5
