# INPUT.
export SICK_MANIFEST=

# OUTPUT.
export SICK_OUT_DIR=outs/
export SICK_DB=$SICK_OUT_DIR/sick.db

# PARAMETERS.
export SICK_K_TRACK=100
export SICK_K_ALBUM=50
export SICK_K_ARTIST=20
export SICK_K_LABEL=10
export SICK_GEO_WIDTH=45
export SICK_GEO_PADDING=1