# INPUT.
export SICK_MANIFEST=

# OUTPUT.
export SICK_OUT_DIR=outs
export SICK_DB=$SICK_OUT_DIR/sick.db
export SICK_INDEX_FAISS_TRACK=$SICK_OUT_DIR/faiss/faiss_track.index
export SICK_INDEX_FAISS_ALBUM=$SICK_OUT_DIR/faiss/faiss_album.index
export SICK_INDEX_FAISS_ARTIST=$SICK_OUT_DIR/faiss/faiss_artist.index
export SICK_INDEX_FAISS_LABEL=$SICK_OUT_DIR/faiss/faiss_label.index
export SICK_GEOJSON_TRACK=$SICK_OUT_DIR/geojson/geo_track.json
export SICK_GEOJSON_ALBUM=$SICK_OUT_DIR/geojson/geo_album.json
export SICK_GEOJSON_ARTIST=$SICK_OUT_DIR/geojson/geo_artist.json
export SICK_GEOJSON_LABEL=$SICK_OUT_DIR/geojson/geo_label.json

# PARAMETERS.
export SICK_GEO_WIDTH=45
export SICK_GEO_PADDING=1
export SICK_REPRESENTATIVE_N=3
export SICK_SEARCHABLE_TRACK_MIN_LOGCOUNT=1
export SICK_SEARCHABLE_ALBUM_MIN_TOTAL_TRACKS=2
export SICK_SEARCHABLE_ARTIST_MIN_NTRACK=10
export SICK_SEARCHABLE_LABEL_MIN_NARTIST=7
export SICK_RECABLE_TRACK_MIN_LOGCOUNT=1.5
