export M2W_TRACK_GEO=..
export M2W_TRACK_LOOKUP=..
export M2W_ALBUM_GEO=..
export M2W_ALBUM_LOOKUP=..
export M2W_ARTIST_GEO=..
export M2W_ARTIST_LOOKUP=..
export M2W_LABEL_GEO=..
export M2W_LABEL_LOOKUP=..

export M2W_ROOT=..
export M2W_GEOJSON_DIR=$M2W_ROOT/assets/

export MEILI_MASTER_KEY=..
export MEILI_INDEX_NAME=entities
export MELILI_URL=http://localhost:7700