# ide
.idea

# local config
config.env
config.prod.env

# frontend
frontend/node_modules
frontend/dist
tileserver/build
tileserver/sick.mbtiles

# python scripts and backend
.venv/
.python-version
__pycache__/
*.py[oc]