# INPUT.
export SICK_DB=
export SICK_TILES_MB=
export SICK_TILES_BUILD_DIR=
export SICK_FAISS_TRACK=
export SICK_FAISS_ALBUM=
export SICK_FAISS_ARTIST=
export SICK_FAISS_LABEL=
export SICK_JSON_TRACK=
export SICK_JSON_ALBUM=
export SICK_JSON_ARTIST=
export SICK_JSON_LABEL=

# OTHER.
export VITE_TILES_URL=/sick-tiles/{z}/{x}/{y}
export MEILI_KEY=SUPERSECRETKEY
export MEILI_UID=entities
export MEILI_URL=http://localhost:7700
